@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: sans-serif;
}

h1{
    padding: 3px 5px;
    font-size: 150%;
    background: #ff8888;
    color: #ffffff;
    font-weight: bold;
}
#container {
    margin: 0 auto;
    padding: 0;
    width: 640px;
}
@media screen and (max-width:640px) {
    #container {
        width: 100%;
    }
}

#header{
    height: 40px;
    font-size: 150%;
    background: #ff8888;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#tab-area {
    height: 50px;
    margin: 0 0 10px 0;
    padding: 0;
}
#tab-area a {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    line-height: 50px;
    float: left;
    display: block;
}
#tab-area a:hover {
    background: #fafafa;
}

table{
    margin: 0 10px;
    border-collapse: collapse;
    border: 1px solid #888888;
}
td{
    padding: 5px;
    border: 1px solid #888888;
}

td.bed{
    background: #FFB4B4;
}
td.dish{
    background: #FFD580;
}
td.bath{
    background: #B3E2B4;
}
td.out{
    background: #ABE7FF;
}
td.desk{
    background: #B8B2EA;
}

#area-statistic h2 {
    margin: 5px 0;
    padding: 3px 10px;
    color: #ffffff;
    font-weight: bold;
}

#area-statistic table {
    margin: 3px 10px 20px 10px;
}
#area-statistic td {
    padding: 10px 12px;
}
